@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/*Начало в 15:30*/

[class*= "__container"]{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}
[class*= "__container2"]{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: "Lato", sans-serif;
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a{
    color: #4d4959;
}

._ibg {
    position: relative;
}

.img {
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}

header{
    position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
/*----header------------*/

.header__block {
display: flex;
height: 155px;
align-items: center;
justify-content: center;
}

.header__menu {
    flex: 1 1 auto;
}

.menu{
    display: flex;
    justify-content: center;
    position:absolute ;
} 

.menu__block {
display: flex;
flex-wrap: wrap;
align-items: center;
}

.link {
font-size: calc(10px + 3 * (100vw /1600));
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.2em;
}

.link:not(:last-child) {
    padding-right: 63px;
    }

@media (max-width: 800px) {
    .link:not(:last-child) {
        padding-right: calc(13px + (63 - 40) * ((100vw - 320px) / (800 - 320)));
        }
}   

/*----block-1------------*/
.main{
    flex: 1 1 auto;
}
.main_block-one img{
    max-height: 800px;
}
/*----block-2------------*/
.main__block-2 {
margin: 117px auto 142px;
}

.block-2__info {
text-align: center;
}

.block-2__img{
    padding-bottom: calc(14px + (23 - 14) * ((100vw - 320px) / (800 - 320)));
    width: 35px;
    margin: 0 auto;
}

.block-2__tytle {
    padding-bottom: calc(14px + (23 - 14) * ((100vw - 320px) / (800 - 320)));
    font-size: calc(12px + 6 * (100vw /1600));
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;

}

.block-2__text{

    font-size: calc(12px + 6 * (100vw /1600));
    line-height: calc(32/18*100%);
    font-weight: 400;
    color: #848789;
}
/*----block-3--GRID-1----------*/
.main__block-3 {}

.main__body {
    display: grid;
}
.body__one {
    grid-template-columns:533px 1fr 1fr;
    grid-template-rows: 70% 30%;
}

.grid_one {
    grid-area: 1 /1/ 3/ 3;
}
.grid-info{
    margin: auto 0;
    padding: 10px calc(14px + (23 - 14) * ((100vw - 320px) / (800 - 320)));
}

.grid-text{
    line-height: calc(34/20*100%);
    padding-bottom: calc(14px + (24 - 14) * ((100vw - 320px) / (800 - 320)));
    font-size: calc(11px + 5 * (100vw /1600));
}
.grid-tytle{
    padding-bottom: calc(14px + (20 - 15) * ((100vw - 320px) / (800 - 320)));
}
.grid-img{
    padding-bottom: calc(14px + (20 - 14) * ((100vw - 320px) / (800 - 320)));
}
.block_line{
    border-top: 2px solid rgba(53,55,56,0.2) ;
    width: 50px;
    padding-bottom: calc(14px + (33 - 14) * ((100vw - 320px) / (800 - 320)));
    margin: 0 auto;
}

/*----GRID-2------------*/

.grid_two {
    grid-area: 1 / 2 / 3 / 4;
}
.grid_two-2{
    grid-area: 2 / 1 / 3 / 2;
}

/*----GRID-3------------*/
.grid_three-1{
    grid-area: 1 / 1 / 3 / 2;
}
.grid_three-2{
    grid-area: 2 / 2 / 3 / 3;
}
.grid_three-3{
    grid-area: 1 / 3 / 3 / 4;
}
/*----Закончил через 3 часа----22:15--------*/
/*----block-4------------*/

.block-4{
    font-size: calc(14px + 8 * (100vw /1600));
font-weight: 400;
font-style: italic;
color: #848789;
}
.block-2__tytle span{
    font-weight: 300;
color: #848789;
}
/*----Закончил-в-22:48 ---Пытался сделать слайдер-----*/
/*----Начианю--13:40--------*/
/*----block-4:grid------------*/
.main__block-4 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6,16.66%);
    grid-template-rows: repeat(2,267px);
}

.grid-image-1 {grid-area:1/1/2/2 ;}
.grid-image-2 {}
.grid-image-3 {grid-area:2/1/3/3 ;}
.grid-image-4 {grid-area:1/3/3/4;}
.grid-image-5 {grid-area:1/4/3/5;}

.grid-image-6 {grid-area:1/5/2/7;}

.grid-image-7 {}

.grid-image-8 {}

/*----block-5------------*/
.main__block-5 {
    height: 200px;
    background-color: #282f35;
    padding: 75px 0;
}

.block-5__button{
} 

.button {
    margin: 0 auto;
    max-width: 300px;
    padding: 20px 56px;
    border: 1px solid rgba(255,255,255,0.49);
}
.button p {
    text-align: center;
    font-size: calc(9px + 5 * (100vw /1600));
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff; 
}
/*----Начианю--18:30--------*/
/*----block-6------------*/
.main__block-6 {}

.block-6 {
    display: flex;
    justify-content: center;
    padding: 110px 0;
}

.block-6__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.block-6__body-img{
    padding-bottom: calc(14px + (30 - 15) * ((100vw - 320px) / (800 - 320)));
} 
.block-6__body p {
    font-size: calc(15px + 8 * (100vw /1600));
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding-bottom: calc(14px + (28 - 15) * ((100vw - 320px) / (800 - 320)));
}
.block-6__body-button{
    display: flex;
    align-items: center;
} 

.button__email {
    margin-right: 8px;
    width: 400px;
    border: 1px solid #d3d7d9;
    font-family: Lato;
    font-size: calc(13px + 5 * (100vw /1600));
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
    height: 70px;
    padding-left: 26px;
}

.button__submit {
    width: 126px;
    background-color: #64c29e;
    font-size: calc(14px + 7 * (100vw /1600));
    line-height: 24px;
    font-weight: 300; 
    color: #ffffff;
    height: 70px;
    text-align: center;
}

/*----media-block-6------------*/
@media (max-width:640px) {
    .button__email {
        height: 50px;
        padding-left: 26px;
        width: 200px;
    }
    .button__submit {
        height: 50px;
    }
}
@media (max-width:570px) {
    .button__email {
        margin-bottom: 10px;
    }

}
/*----footer------------*/
.footer {background-color: #f7f7f7;}

.footer__block { }

.footer__block-body {
    padding: 100px 0;
    color: #848789;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__block-1 {
    font-size: calc(12px + 4 * (100vw /1600));
    font-weight: 400;
    font-style: italic;
    line-height: 17px;
    padding-right: 50px;
}
.footer__block-1 span {
    font-size: calc(12px + 5 * (100vw /1600));
    font-weight: 700;
    line-height: 17px;
}

.footer__block-2 {display: flex;
    padding-right: 50px;}

.footer__image {
    padding-left: 9px;
}

.footer__block-3{ display: flex;
    align-items: center;
} 
.footer__block-3 p{ 
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    font-size: calc(12px + 4 * (100vw /1600));
}

/*----media-footer------------*/
@media (max-width:640px) {
    .footer__block-body {
        flex-direction: column;
        justify-content: center;
    }
    .footer__block-1 {
        padding-bottom: 30px;
        padding-right: 0;
        text-align: center;
    }
    .footer__block-2 {
        padding-bottom: 30px;
        padding-right: 0;
    }
}

/*----hover------------*/
#but:hover{
    transform: rotate(20deg);
    transition: all 0.4s linear 0s;
}

#but:not(:hover){
    transform: rotate(0deg);
    transition: all 0.4s linear 0s;
}

#link:hover{
    transform: scale(1.3);
    
}

header a:hover{
    color: #57afc1;
    transition: all 0.2s linear 0s;
}
header a:not(:hover){
    transition: all 0.4s linear 0s;
}
